.color-darkyan{
    color: darkcyan;
    font-size: 35px;
}
.color-avianca {
    color: rgb(255,0,0);
    font-size: 35px;
}
.color-limegreen {
    color: #32cd32;
    font-size: 35px;
}
.color-platzi {
    color: rgb(18,31,61);
    font-size: 30px;
}
.color-platzi-2 {
    color: rgb(191,11,225);
    font-size: 30px;
}