h1 {
    text-align: center;
}
p {
    text-align: center;
}
fieldset {
    width: 25%;
    height: 700px;
    display: block;
    margin: 0 auto;
    background-color: rgba(20, 191, 221, 0.952);
    border-radius: 8px;
    border: 3px solid rgba(20, 191, 221, 0.952);
    color: whitesmoke;
    font-size: 1.3em;
    line-height: 1.3em;
}
input {
    font-size: 1em;
    line-height: 1em;
    margin: 0 auto;
}
label {
    text-align: center;
}
.formulario {
    width: 70%;
    margin: 0 auto;
}