body{
    margin:0;
    background-image: url("../img/espacio.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed fixed;
    background-attachment: fixed;
}
.form{
    width:300px;
    height:320px;
    background: rgb(25, 109, 146);
    border-radius:8px;
    box-shadow:0 0 40px -10px #000;
    margin:calc(50vh - 220px) auto;
    padding:20px 30px;
    max-width:calc(100vw - 40px);
    box-sizing:border-box;
    font-family:'Montserrat',sans-serif;
    
}
h2{
    margin:10px 0;
    padding-bottom:10px;
    width:180px;
    color:white;
    border-bottom:3px solid black;
}
input{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    background:none;
    border:0;
    font-family:'Montserrat',sans-serif;
    transition:all .3s;
    border-bottom:2px solid white;
}
.button {
    cursor: pointer;
}
.button:HOVER {
    background-color: red;
    color : black;
}
td{
    background-color: black;
}