div {
    width: 380px;
    margin: 0 auto;
}
.buton-style {
    margin-top: 200px;
    height: 100px;
    width: 300px;
    background: rgb(59,130,189);
    color: white;
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
}
.buton-style:hover {
    cursor: pointer;
}